<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cake.dao.LcMapper">

    <select id="lastUserId" parameterType="int" resultType="java.lang.Integer">
        select max(id) as id from cake.User;
    </select>

    <select id="limitProduct" parameterType="int" resultType="com.cake.bean.Product" >
        SELECT * FROM cake.Product limit #{start},#{num};
    </select>

    <select id="allProductCount" parameterType="int" resultType="java.lang.Integer">
        select count(id) as id  FROM cake.Product;
    </select>

</mapper>
