<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cake.dao.ZMapper">

    <resultMap id="BaseResultMap" type="com.cake.bean.OrderTmp">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="productId" jdbcType="INTEGER" property="productid" />
        <result column="orderId" jdbcType="INTEGER" property="orderid" />

        <association property="product" javaType="com.cake.bean.Product" column="productId" select="com.cake.dao.ProductMapper.selectByPrimaryKey">

        </association>

    </resultMap>
    <select id="selectOrderTmp" resultMap="BaseResultMap">
        select * from Addr, cake.Order,AssociateOrderAndProduct,Product,User
          where Addr.id = cake.Order.address and cake.Order.products = AssociateOrderAndProduct.id and productid = Product.id
          and cake.Order.userID = User.id and User.id = #{d};
    </select>
</mapper>
